#meme-image-container {
  background-color: red;
  width: 500px;
  height: 500px;
}

/* forum usado como base
https://pt.stackoverflow.com/questions/243301/como-fazer-um-contorno-em-texto-via-css */

#meme-text {
  position: absolute;
  width: 500px;
  top: 400px;
  color: yellow;
  font-family: Comic Sans MS, sans-serif;
  font-size: 50px;
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: black;
}

#preview {
  position: relative;
  width: 500px;
  height: 500px;
}
