#meme-image-container {
  background-color: white;
  border: 1px solid black;
  width: 500px;
  height: 500px;
}

/* forum usado como base
https://pt.stackoverflow.com/questions/243301/como-fazer-um-contorno-em-texto-via-css */

#meme-text {
  position: absolute;
  width: 500px;
  top: 400px;
  color: white;
  font-family: Comic Sans MS, sans-serif;
  font-size: 30px;
  text-shadow: 5px 5px 5px black;
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: black;
}

#meme-image {
  position: relative;
  width: 500px;
  height: 500px;
}

#meme-template {
  align-items: center;
  width: 420px;
}

#meme-template img {
  border: 1px solid red;
  width: 100px;
  height: 100px;
}

#fire {
  background-color: red;
}

#water {
  background-color: blue;
}

#earth {
  background-color: green;
}